@model EMS.Models.EmployeeInfoViewModel
@{
    ViewData["Title"] = "Employee List";
    int count = 0;
}
<body class="bg-light">
<div class="mt-5 card card-body">
    <h1 class="bg-black text-light card-header py-4">Employee List</h1>
    <table class="table table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">SNo.</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
            <tbody>
        @foreach(var data in Model.Employees){
        
        <tr>
            <th scope="row">@(count=count+1)</th>
            <td scope="row">@data.Id</td>
            <td>@data.FirstName</td>
            <td>@data.LastName</td>
            <td>@data.Address</td>
                        <td>
                            <a href="/Employee/Details?ID=@data.Id" class="text-primary">
                               View Details
                            </a>
                        </td>
        </tr>
        }
            </tbody>
    </table>
    </div>
</body>